[submodule "innertube"]
	path = modules/innertube
	url = https://gitlab.com/tannguyen047/innertube-kotlin.git
	branch = dev
[submodule "strings-modifier"]
	path = scripts/strings-modifier
	url = https://gitlab.com/tannguyen047/string-modifier
	branch = dev
[submodule "metrolist-innertube"]
	path = modules/metrolist-innertube
	url = https://github.com/NEVARLeVrai/Metrolist-innertube.git
	branch = main
